[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.0.1"
spacy = "==3.5.2"
matplotlib = "==3.7.1"
networkx = "==3.1"
nltk = "==3.8.1"
numpy = "==1.24.3"
scikit-learn = "==1.2.2"
scipy = "==1.10.1"
tqdm = "==4.65.0"
pydot = "*"
graphviz = "*"
babelnet = "*"
python-levenshtein = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
